*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-global{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;    
    height: 100vh;
  
}

.div-joystick{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    width: 60%;
    aspect-ratio: 9 / 3;
    overflow: hidden;
}

.borda-circular{
    border-radius: 100%;
    width: 33%;
    aspect-ratio: 1 / 1;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D4D4D4;
    
}

.direita{
    box-shadow: inset -16px  -4px 14px -12px rgba(95, 93, 93, 0.377);
    
}

.esquerda{
     box-shadow: inset 15px -8px 14px -8px rgba(129, 121, 121, 0.377);
}

.container-direcional{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-direcional > img{
    width: 75%;
}



.base-central{
    position: absolute;
    top: 0;
    width: 60%;
    aspect-ratio: 2/1;
    background-color: #D4D4D4;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
 
}

.container-botoes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
    border-radius: 100%;
    width: 80%;
    aspect-ratio: 1/1;
    background-color: #B8B9BE;
    border: 1px solid rgba(0, 0, 0, 0.377);
    transform: rotate(-30deg);
}

.container-direcional{
    border-radius: 100%;
    width: 57%;
    aspect-ratio: 1/1;
    border: 1px solid #B8B9BD;
}

.container-start{
    width: 35%;
}

.container-logo{
    width: 33%;
    z-index: 2;
}

.logo-super{
    position: relative;
    font-family: monospace !important;
    margin-top: 0 !important;
    z-index: 2;
}

.botoes-centrais{
    position: relative;
    display: flex;
    align-items: end;
    justify-content: center;
    gap: 15%;
    width: 30%;
    aspect-ratio: 3/1;
    z-index: 2;
    padding-bottom: 7%;
}

.botao-select,
.botao-start{
    border-radius: 15px;
    width: 95%;
    background-color:#454648;
    aspect-ratio: 3/1;
    transform: rotate(-30deg);
}

.botao-start{
    width: 85% !important;
}

p, .logo-super{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: #949496;
    font-weight: bolder;
    font-size: 0.8vw; 
    margin-top: 30%;   
}

.container-up-down{
    display: flex;
    justify-content: space-between;
    border-radius: 40px;
    width: 60%;
    background-color:#D5D6D8;
    aspect-ratio: 5/2;
    border: 1px solid rgba(0, 0, 0, 0.425);  
    padding:  3px; 
}

.btn-up, .btn-down{
    border-radius: 100%;
    width: 40%;
    aspect-ratio: 1/1;    
    background-color: #C7C8E9;
    border: 1px solid rgba(0, 0, 0, 0.425);   
}
.btn-down{
    background-color: #604AAF;
    border: 1px solid #000000;
}